blinker==1.9.0
branca==0.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
cryptography==44.0.3
Flask==3.1.0
flask-cors==5.0.1
folium==0.19.5
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
http_ece==1.2.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.5
openrouteservice==2.3.3
pillow==11.2.1
requests==2.32.3
six==1.17.0
tqdm==4.67.1
urllib3==2.4.0
xyzservices==2025.4.0